<div class="well text-center">


        <h2>Sign up</h2>

  <form role="form">
    

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
        <div class="form-group">
          <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :username, autofocus: true, placeholder: "Username", class: "form-control input-sm" %>
          </div>
        </div>

        <div class="form-group">
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control input-sm" %>
          </div>
        </div>

        <div class="form-group">
          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control input-sm", placeholder: "Password - 8 characters minimum"%>
          </div>
        </div>


        <div class="form-group">
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-sm", placeholder: "Password confirmation" %>
          </div>
        </div>

        <div class="form-group">
          <div id="photo_attachment_container">
            <div class="wrapper">
            <%= f.file_field :avatar %>
            </div>
          </div>
        </div>

          <div class="actions">
            <%= f.submit "Sign up", class: "btn btn-primary" %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
</div>
