<div id="form_container" class="row text-center">
  <div class="medium-12 medium-centered columns text-center">
    <h3>New Review for <%= @shoes.name%></h3>

    <% if user_signed_in? %>
      <%= form_for [@shoes, @review] do |f| %>

        <div id="form_errors">
          <% if @review.errors.any? %>
            <h4>
              <%= pluralize(@review.errors.count, "error")%>
              Error(s) detected:
            </h4>
            <ul>
              <% @review.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          <%end%>
        </div>


        <%= f.label :comment, class: "strong"%><br>
        <%= f.text_area :comment, placeholder: "Comment", id: "review_comment"%><br>

        <%= f.label :rating%><br>
        <%= f.select :rating, options_for_select(10.downto(1)), id: "review_rating"%><br>

        <%= f.submit "Add Review", class: "btn btn-success edit_user_button submit_form_button"%>

         <%= link_to "Back to Shoes", shoes_path(@shoes), class: "btn btn-primary edit_form_button"%>
      <%end%>
    <% end %>
    
   
  </div>
</div>