



  <div class="well">
    <div class="medium-6 text-center columns"> 
    <%=link_to 'Go back to root page', root_path %>
    </div>

 
    <div class="medium-12 text-center columns">
      <h1> List of basketball shoes</h1>
    </div>



  <div class="row">
    <div class="medium-12 text-center columns">

        <% @shoes.each do |shoe| %>
          <%= link_to shoe.name, shoe %><br>
        <% end %>
      <%= paginate @shoes %>
    </div>
  </div>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= pie_chart Shoe.group(:brand).count, library: {backgroundColor: "#cccccc"} %> 
 </div>




