<div class="container">
  <div class="page-header">
    <h1> <%= @shoes.name %> </h1> 
  </div>
  <div class="col-sm-8">
    <div class="thumbnail">
      <%= image_tag "steph3.jpg" %>
      <div class="caption text-center">
        <a href="#" class="btn btn-primary" role="button">Live Preview
        </a>
      </div>
    </div>
    <p> Jiggy is a beautiful and fully responsive one page HTML template. It is intended for websites that are showcasing a creative portfolio. It includes sections for portfolio items, testimonials, about, and contact.</p>
    <h3> Features </h2>
    <li> Bootstrap 3 </li>
    <li> Fully responsive </li>
    <li> One page scroll design </li>
    <li> HTML5 and CSS3 </li>
    <li> Font Awesome Icons </li>
    <li> Google Web Fonts </li>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail bg-grey text-center">
      <h2> Retail Price: </h2>
      <h3> $<%= @shoes.price %> </h3>
      
      <a href="#" class="btn btn-success" role="button"> Buy Now </a>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Theme Author </h3>
      </div>
      <div class="panel-body text-center">
        <img src="img/swoopthemes.jpg" alt="Swoop Themes" class="img-circle">
          <h4> Swoop Themes </h4>
        </img>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Shoes Attributes </h3>
      </div>
      <table class="table table-bordered table-stripped">
        <tbody>
          <tr>
            <td> Price </td>
            <td> <%= @shoes.price %> </td>
          </tr>
          <tr>
            <td> Color </td>
            <td> <%= @shoes.color %> </td>
          </tr>
          <tr>
            <td> Brand </td>
            <td> <%= @shoes.brand %> </td>
          </tr>
          <tr>
            <td> Tags </td>
            <td> Portfolio, responsive, clean, showcase, single page 
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>






<div class="row">
  <div class="medium-12 medium-centered columns text-center">
    Reviews:
    <% @reviews.each do |review| %>
      <hr>
      <div class="review">
    
          <div class="medium-8 columns text-center float left">
          
            <%= review.user.username %>
    

          </div>

        
        <div class="medium-8 medium-centered columns float left text-center">
          Rating: <%= review.rating %>/10
          <br>
          <%= review.comment %>
          <br>
          <div>
            <% if user_signed_in? %>
              <% if current_user == review.user %>
                <%= link_to "Edit Review", edit_review_path(review), class: "btn btn-info" %>
              <% end %>
              <% if current_user.admin || current_user == review.user %>
                <%= link_to "Delete Review", review_path(review), method: :delete, class: "btn btn-danger" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "New Review", new_shoe_review_path(@shoes), id: "new_review", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-12 medium-centered columns" id="species_paginate">
    <%= paginate @reviews %>
  </div>
</div>