

<div class="container">
  <div class="page-header">
    <h1> <%= @shoe.name %> </h1> 
  </div>
  <div class="col-sm-8">
    <div class="thumbnail">
      <%= image_tag @shoe.image %>
      <div class="caption text-center">
        <a href="#" class="btn btn-primary" role="button">Live Preview
        </a>
      </div>
    </div>
    <p> <%= @shoe.description %> </p>
    <h3> Features </h2>
    <ul>
    <% if @shoe.feature? %>
    <% @shoe.feature.split(',').each do |feature| %>
    <li><%= feature %></li>
    <% end %>
    <% end %>
    </ul>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail bg-grey text-center">
      <h2> Retail Price: </h2>
      <h3> $<%= @shoe.price %> </h3>
      <% @shoe.shoe_stores.each do |shoe_store| %>
        <%= shoe_store.store.store_name %>
        <%= link_to "Go to this store", shoe_store.store.url %>
        <br>
      <% end %>
    <!--   <a href="#" class="btn btn-success" role="button"> Buy Now </a> -->
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> Rating </h3>
      </div>
      <div class="panel-body text-center">
 
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= pie_chart Review.group(:rating).count %>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"> shoe Attributes </h3>
      </div>
      <table class="table table-bordered table-stripped">
        <tbody>
          <tr>
            <td> Price </td>
            <td> <%= @shoe.price %> </td>
          </tr>
          <tr>
            <td> Color </td>
            <td> <%= @shoe.color %> </td>
          </tr>
          <tr>
            <td> Brand </td>
            <td> <%= @shoe.brand %> </td>
          </tr>
          <tr>
            <td> Tags </td>
            <td> Adidas, Under Armour, Nike, Puma, Reebok, Foot Locker 
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>






<div class="row">
  <div class="medium-12 medium-centered columns text-center">
    Reviews:
    <% @reviews.each do |review| %>
      <hr>
      <div class="review">
    
          <div class="medium-8 columns text-center float left">
          
            <%= review.user.username %>
    

          </div>

        
        <div class="medium-8 medium-centered columns float left text-center">
          Rating: <%= review.rating %>/10
          <br>
          <%= review.comment %>
          <br>
          <div>
            <% if user_signed_in? %>
              <% if current_user == review.user %>
                <%= link_to "Edit Review", edit_review_path(review), class: "btn btn-info" %>
              <% end %>
              <% if current_user.admin || current_user == review.user %>
                <%= link_to "Delete Review", review_path(review), method: :delete, class: "btn btn-danger" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "New Review", new_shoe_review_path(@shoe), id: "new_review", class: "btn btn-success" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="medium-12 medium-centered columns" id="species_paginate">
    <%= paginate @reviews %>
  </div>
</div>